<section class="fixed top-0 w-full bg-white shadow-md opacity-90">
  <!-- Navbar -->
  <div class="mx-5 md:mx-[10rem] px-4 py-4 flex items-center justify-between">
    <a href="/home" class="text-2xl md:text-4xl font-bold">Re-Loved</a>
    <div class="flex items-center space-x-4 md:space-x-12">
      <img src="/images/light-mode-button.png" alt="" class="h-7 object-contain" id="lightModeButton" onclick="toggleMode()" />
      <img src="/images/dark-mode-button.png" alt="" class="h-7 object-contain hidden" id="darkModeButton" onclick="toggleMode()" />
      <a href="/home" class="hidden md:block border-b-2 text-lg border-transparent hover:border-yellow-500">Home</a>
      <div class="bg-gray-300 py-2 px-3 rounded-full">
        <i class="fas fa-user text-2xl text-gray-500"></i>
      </div>
    </div>
  </div>
  <!-- End Navbar -->
</section>
<section class="py-28 text-center">
  <h1 class="text-3xl font-bold">Add Some Stuff</h1>
  <% if (success_msg != '') { %>
  <div id="alertbox" class="mt-5 flex items-center justify-center h-full">
    <div class="w-1/2 items-center rounded rounded-lg mb-2 bg-green-500 flex items-center text-white text-sm font-semibold px-4 py-3 relative" role="alert">
      <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path
          d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z" />
      </svg>
      <p><%= success_msg %></p>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton" role="button" onclick="closeAlert(this)">
        <svg class="fill-current h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path
            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
        </svg>
      </span>
    </div>
  </div>
  <% } %> <% if (error != '') { %>
  <div id="alertbox" class="mt-5 flex items-center justify-center h-full">
    <div class="w-1/2 items-center rounded rounded-lg mb-2 bg-red-500 flex items-center text-white text-sm font-semibold px-4 py-3 relative" role="alert">
      <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path
          d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z" />
      </svg>
      <p><%= error %></p>

      <span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton" role="button" onclick="closeAlert(this)">
        <svg class="fill-current h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path
            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
        </svg>
      </span>
    </div>
  </div>
  <% } %>
  <div>
    <form method="post" action="/editproduct" enctype="multipart/form-data" class="mx-5 md:mx-40 grid grid-cols-1 md:grid-cols-2 gap-4 py-8">
      <div class="mb-4 col-span-1">
        <input type="hidden" name="productId" value="<%= product ? product._id : '' %>" />
        <input type="text" id="name" name="name" placeholder="Name" class="px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 w-full" value="<%= product ? product.name : '' %>" />
        <textarea id="description" name="description" placeholder="Description" rows="3" class="mt-2 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 w-full">
<%= product ? product.description : '' %></textarea
        >

        <div class="flex items-center space-x-4 mt-1">
          <input type="radio" id="likeNew" name="condition" value="Like New" <%= product && product.condition === 'Like New' ? 'checked' : '' %> />
          <label for="likeNew" class="text-sm font-medium text-gray-700">Like New</label>
          <input type="radio" id="good" name="condition" value="Good" <%= product && product.condition === 'Good' ? 'checked' : '' %> />
          <label for="good" class="text-sm font-medium text-gray-700">Good</label>
          <input type="checkbox" id="isOffer" name="isOffer" value="offer" <%= product && product.isOffer ? 'checked' : '' %> />
          <label for="isOffer" class="text-sm font-medium text-gray-700">Offer</label>
        </div>
        <div class="mt-3 flex items-center gap-3">
          <input type="text" id="price" name="price" class="mt-2 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 w-1/4" value="<%= product ? product.price : '' %>" />
          <h1>Regular Price</h1>
        </div>

        <div class="mt-3 mb-2 flex items-center">
          <h1>Image Product :</h1>
        </div>
        <img src="<%= product.imageUrl %>?alt=media" alt="<%=  product.name  %>" class="h-28 md:h-40" />
      </div>

      <div class="mb-4 col-span-1">
        <div class="flex items-start">
          <p class="font-bold">Images:</p>
          <span class="ml-2 text-gray-700">The first image will be the cover (max 6)</span>
        </div>
        <div class="flex items-center mt-3">
          <input type="file" id="image" name="image" class="px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 flex-grow" />
          <button class="ml-2 px-6 py-3 border border-black rounded uppercase font-bold hover:bg-black hover:text-white">Upload</button>
        </div>
        <div class="flex mt-6">
          <button type="submit" class="w-full px-6 py-3 bg-amber-500 text-white rounded uppercase font-bold hover:bg-amber-300">Update</button>
        </div>
      </div>
    </form>
  </div>
</section>
<script>
  setTimeout(function () {
    document.getElementById("alertbox").style.display = "none";
  }, 2500);

  function closeAlert(element) {
    element.parentNode.parentNode.remove();
  }
  function toggleMode() {
    const lightModeButton = document.getElementById("lightModeButton");
    const darkModeButton = document.getElementById("darkModeButton");

    lightModeButton.classList.toggle("hidden");
    darkModeButton.classList.toggle("hidden");

    document.body.classList.toggle("dark-mode");

    const isDarkMode = document.body.classList.contains("dark-mode");
    localStorage.setItem("darkMode", isDarkMode);
  }

  const savedDarkMode = localStorage.getItem("darkMode") === "true";
  if (savedDarkMode) {
    toggleMode();
  }
</script>
